- var transfer = bozuko.transfer(key)

h3.objectIcon= transfer.getTitle()

p.description!= transfer.doc

pre.code !{docify(key)};

- if( transfer.def.links )
  h4 Referenced Links
  .section.links.references
    ul.links
      - each type, key in transfer.def.links
        li
          a.linkIcon.internalLink(href="#/links/"+key)= key

-if( transfer.returned && transfer.returned.length > 0 )
  h4 Returned By
  .section.links.references
    ul.links
      - each link in transfer.returned
        li
          a.linkIcon.internalLink(href="#/links/"+link.name)= link.getTitle()