h1= title

- if(error)
  .error= error

.line

  .unit.size2of5
    
    p 
      | Please select the page you would like to  create games for.
    
    p
      img(src="/images/desktop/v2/place_40.png",style="float:left; margin:0 6px 6px 0;",alt="Place icon")
      | Any pages with the "Place" icon indicate that
      a(href="http://www.facebook.com/places/") Facebook Place
      | is associated with that page.
      
    p
      | Please see 
      a(href="#") this article
      | to learn about claiming
      | your Facebook place.
  
  .unit.size3of5
  
    - if (pages.length)
      form(method="post",action="?")
        ul.facebook_pages
          - each page in pages
            - var classes = ["facebook_page"];
            - classes.push(page.is_place?"is_place":"is_not_place")
            - classes.push(page.is_owner?"is_owner":"is_not_owner")
            li(class=classes.join(' '))
              .page_wrap
                .radio_block
                  input.radio(type="radio", name="page", value=page.id)
                img(src="https://graph.facebook.com/"+page.id+"/picture?type=small",title=page.name)
                h4= page.name
                - if( page.location )
                  p= page.location.city+", "+page.location.state
                p Fan Count: #{page.fan_count||0}
        input.button(type="submit",value="Add Page")
        
    - else
      p
        | Unfortunately, you are not an admin for any pages, so you
        | cannot setup a Bozuko account.
        
      p
        | If you think that we are mistaken, please let us know by
        a(href="mailto:support@bozuko.com") emailing us
        |. Be sure to include a link to your facebook profile
        | and a link to the facebook page you should be an admin for.