- if( !locals.page )
  h2 Page Not Found!
  
  p The page you are looking for is gone!

.center
  .main-column
    .padding
      h2.page-title= page.name
      
      - if( page.announcement )
        .announcement
          p!= page.announcement
      - if( locals.contests )
        h3 Current Games
        .contests
          - each contest in contests
            img(src=contest.getGame().getListImage())
            h4= contest.getGame().name
            .contest
              .entry-method
                !=contest.getEntryMethodDescription()
  
  .right-column
    .padding
      p upcoming games....

  
.left-column
  
  .img.block
    img(src=page.image)
    
  .address.block
    .street= page.location.street
    .city= page.location.city+', '+page.location.state+' '+page.location.zip
    .map
      a(target="_blank",href=page.getGoogleMapLink()) Google Map
    
  -if( page.website )
    .website.block
      a(target="_blank", href=page.website)!= page.website
      
  -if( page.service('facebook'))
    .facebook.block
      a(target="_blank", href=page.service('facebook').data.link) Visit our Facebook Page