- if( !locals.page )
  h2 Page Not Found!
  
  p The page you are looking for is gone!

- else
  .center
    .main-column
      .padding
        h2.page-title= page.name
        
        - if( page.announcement )
          .announcement
            p!= page.announcement
        - if( locals.contests )
          .contests
            h3 Current Games
            - each contest in contests
              .contest
                img(src=contest.getGame().getListImage())
                h4= contest.getGame().getName()
                .entry-method
                  !=contest.getEntryMethodHtmlDescription()
                
                .prizes
                  h5 You could win...
                  ul.prize-list
                    - each prize in contest.prizes
                      li.prize
                        h6.prize-name= prize.name
                        .prize-description= prize.description
                //
                  a(href="/p/"+page._id+"/winners/"+contest._id) Winners List
    
    .right-column
      .padding
        a(href="http://itunes.com/app/bozuko")
          img(src="/images/desktop/site/img_iphone-download.png",alt="To play Bozuko, download the app",title="To play Bozuko, download the app")
  
    
  .left-column
    
    .img.block
      img(src=page.image)
      
    .address.block
      .street= page.location.street
      .city= page.location.city+', '+page.location.state+' '+page.location.zip
      .map
        a(target="_blank",href=page.getGoogleMapLink()) Google Map
      
    -if( page.getWebsite() )
      .website.block
        a(target="_blank", href=page.getWebsite())!= Visit Website
        
    -if( page.service('facebook'))
      .facebook.block
        a(target="_blank", href=page.service('facebook').data.link) Visit our Facebook Page