- if( !locals.page )
  h2 Page Not Found!
  
  p The page you are looking for is gone!

- else
  .center
    .main-column
      .padding
        h2.page-title= contest.getGame().getName()+' Winners'
        
        ul.public-winners-list
          -each winner in winners
            li
              .user-name= winner.displayName
              .prize-name= winner.name
              .prize-timestamp= winner.timestamp
    
    .right-column
      .padding
        a(href="http://itunes.com/app/bozuko")
          img(src="/images/desktop/site/img_iphone-download.png",alt="To play Bozuko, download the app",title="To play Bozuko, download the app")
  
    
  .left-column
    
    .img.block
      img(src=page.image)
      
    .address.block
      .street= page.location.street
      .city= page.location.city+', '+page.location.state+' '+page.location.zip
      .map
        a(target="_blank",href=page.getGoogleMapLink()) Google Map
      
    -if( page.website )
      .website.block
        a(target="_blank", href=page.website)!= page.website
        
    -if( page.service('facebook'))
      .facebook.block
        a(target="_blank", href=page.service('facebook').data.link) Visit our Facebook Page