!!! 5
html(xmlns:og="http://ogp.me/ns#",xmlns:fb="http://www.facebook.com/2008/fbml",class=locals.html_classes?html_classes.join(' '):'',lang="en")
  head
  
    title= title
    
    - if( locals.meta)
      - each content, name in meta
        meta(name=name, content=content)
    
    -if( locals.styles && locals.styles.length)
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style)
    
    - if (locals.head_scripts && locals.head_scripts.length)
      - each script in head_scripts
        script(type="text/javascript",src=script)
    
    script(type="text/javascript")
      window.BozukoData = {user:{}};
      BozukoData.fbAppId = '#{Bozuko.cfg("facebook.app.id")}';
      
    - if( user )
      script(type="text/javascript")
        BozukoData.user.id = '#{user._id}';
        BozukoData.user.fbId = '#{user.service("facebook").sid}';
    
  body
    .page
      -if( locals.utility_bar !== false )
        .utility
          .page-width
            .user-bar
              include includes/user-bar
            
      .hd
        .page-width
        
          h1.logo
            a(href=locals.home_link||'/', title=locals.home_title||"Bozuko - Go to Home Page") bozuko
          
          - if( locals.nav && locals.nav.length )
            ul.nav
              - each item, i in locals.nav
                - if( item instanceof Function )
                  - item = item.call(this,locals);
                  
                - var item_classes = [];
                
                - if( i==0 )
                  - item_classes.push('first')
                  
                - if( i==nav.length-1 )
                  - item_classes.push('last')
                  
                - if( req.url == item.link )
                  - item_classes.push('active')
                li
                  a(href=item.link,class=item_classes.join(' '))
                    span
                      em!= item.text
          
      .bd
        .top-line
        .page-width
          .wrap
            .content!= body
        .bottom-line
        
      .ft
        .page-width
          .line
            .unit.size1of4
              ul
                li
                  a(href="/") Home 
                // li
                  a(href="/mobile-app") Mobile App
                li
                  a(href="/local") Bozuko for Local Business
                li
                  a(href="/enterprise") Bozuko for Enterprise
                li
                  a(href="/contact") Contact 
                li
                  a(href="http://getsatisfaction.com/bozuko", onclick="feedback_widget.show(); return false;") Feedback &amp; Support
            
            .unit.size1of4
              ul
                li
                  a(href="http://blog.bozuko.com") Blog
                li
                  a(href="/about") About
                li
                  a(href="/faq") FAQ
                li
                  a(href="/terms-of-use") Terms of Use
                li
                  a(href="/privacy-policy") Privacy Policy
            
            .unit.size1of4
              ul.social
                li
                  a.facebook(href="http://www.facebook.com/pages/Bozuko/223851717629478") Facebook
                  
                li
                  a.twitter(href="http://twitter.com/Bozuko") Twitter
            
            .unit.size1of4.lastUnit.downloadUnit
              .content
                h3 Download
                ul.download
                  li
                    a.download.app-store(target="_blank", href=Bozuko.cfg('client.mobile.iphone.link','#'))
                      img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
                  
                  li  
                    a.download.android-market(target="_blank", href=Bozuko.cfg('client.mobile.android.link','#'), title="Download for Android")
                      img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
      
      .copyright
        .page-width
          &copy; 2011 Bozuko, Inc.
        
    - if (locals.tmpls)
      .templates
        - each tmpl, key in tmpls
          script(type="text/extjs-tmpl", id=key)= tmpl
        
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)
        
    script(type="text/javascript",charset="utf-8",src="https://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js")
    script(type="text/javascript",charset="utf-8")
      var feedback_widget_options = {};
    
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "bozuko";
      feedback_widget_options.placement = "hidden";
      feedback_widget_options.color = "#308e50";
      feedback_widget_options.style = "question";
      
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    
    - if( !Bozuko.config.test_mode )
      script(type="text/javascript")
  
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22885354-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();