!!! 5
html(class=locals.html_classes?html_classes.join(' '):'')
  head
  
    title= title
    link(rel='stylesheet', href='/css/desktop/style.css')
    link(rel='stylesheet', href='/css/desktop/layout.css')
    -if( locals.styles )
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style);
    - if (locals.head_scripts)
      - each script in head_scripts
        script(type="text/javascript",src=script)
    
  body
    .page
    
      .hd
        .page-width
          h1.logo
            a(href="/", title="Bozuko - Go to Home Page") bozuko
          
          - if( locals.nav )
            ul.nav
              - each item, i in locals.nav
                - if( item instanceof Function )
                  - item = item.call(this,locals);
                  
                - var item_classes = [];
                
                - if( i==0 )
                  - item_classes.push('first')
                  
                - if( i==nav.length-1 )
                  - item_classes.push('last')
                  
                - if( req.url == item.link )
                  - item_classes.push('active')
                li
                  a(href=item.link,class=item_classes.join(' '))
                    span
                      em!= item.text
          
      .bd
        .page-width
          .wrap
            .content!= body
        
      .ft
        .page-width
        
    - if (locals.tmpls)
      .templates
        - each tmpl, key in tmpls
          script(type="text/extjs-tmpl", id=key)= tmpl
        
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)