!!! 5
html(class=locals.html_classes?html_classes.join(' '):'')
  head
  
    title= title
    meta(name='description', content='Bozuko is the most exciting way to win prizes at your favorite places. Download and play today!')
    meta(name="google-site-verification",content="HCG8QvNiMF-A93y538WBwu-r3dpkPYAIyfE72RpF7Cs")
    
    link(rel='stylesheet', href='/css/desktop/style.css')
    link(rel='stylesheet', href='/css/desktop/layout.css')
    
    -if( locals.styles )
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style);
    - if (locals.head_scripts)
      - each script in head_scripts
        script(type="text/javascript",src=script)
    
  body
    .page
    
      .hd
        .page-width
          h1.logo
            a(href="/", title="Bozuko - Go to Home Page") bozuko
          
          - if( locals.nav )
            ul.nav
              - each item, i in locals.nav
                - if( item instanceof Function )
                  - item = item.call(this,locals);
                  
                - var item_classes = [];
                
                - if( i==0 )
                  - item_classes.push('first')
                  
                - if( i==nav.length-1 )
                  - item_classes.push('last')
                  
                - if( req.url == item.link )
                  - item_classes.push('active')
                li
                  a(href=item.link,class=item_classes.join(' '))
                    span
                      em!= item.text
          
      .bd
        .top-line
        .page-width
          .wrap
            .content!= body
        .bottom-line
        
      .ft
        .page-width
          .line
            .unit.size1of4
              ul
                li
                  a(href="/") Home 
                li
                  a(href="/how-to-play") How to Play 
                li
                  a(href="/bozuko-for-business") Bozuko for Business 
                li
                  a(href="#") Contact 
                li
                  a(href="http://getsatisfaction.com/bozuko", onclick="feedback_widget.show(); return false;") Feedback &amp; Support
            
            .unit.size1of4
              ul
                li
                  a(href="http://blog.bozuko.com") Blog
                li
                  a(href="#") FAQ
                li
                  a(href="/terms-of-use") Terms of Use
                li
                  a(href="/privacy-policy") Privacy Policy
            
            .unit.size1of4
              ul.social
                li
                  a.facebook(href="http://www.facebook.com/pages/Bozuko/223851717629478") Facebook
                  
                li
                  a.twitter(href="http://twitter.com/BozukoBiz") Twitter
            
            .unit.size1of4.lastUnit.downloadUnit
              .content
                h3 Download
                ul.download
                  li
                    a.download.app-store(href="#", title="Download for iPhone")
                      img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
                  
                  li  
                    a.download.android-market(href="#", title="Download for Android")
                      img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
      
      .copyright
        .page-width
          &copy; 2011 Bozuko, Inc.
        
    - if (locals.tmpls)
      .templates
        - each tmpl, key in tmpls
          script(type="text/extjs-tmpl", id=key)= tmpl
        
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)
        
    script(type="text/javascript",charset="utf-8",src="https://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js")
    script(type="text/javascript",charset="utf-8")
      var feedback_widget_options = {};
    
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "bozuko";
      feedback_widget_options.placement = "hidden";
      feedback_widget_options.color = "#308e50";
      feedback_widget_options.style = "question";
      
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    
    - if( !Bozuko.config.test_mode )
      script(type="text/javascript")
  
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22885354-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();