li.prize-item(id='id-'+prize._id,class='prize-'+prize.state)
  .times
    -if( prize.state == 'active' )
      .action Expires #{dateFormat(prize.expires, 'dddd, mmmm dS, yyyy, h:MM TT')}
    -if( prize.state == 'expired' )
      .action Expired #{dateFormat(prize.expires, 'dddd, mmmm dS, yyyy, h:MM TT')}
    -if( prize.state == 'redeemed' )
      .action Redeemed #{dateFormat(prize.expires, 'dddd, mmmm dS, yyyy, h:MM TT')}
    
    .win= dateFormat(prize.timestamp, 'dddd, mmmm dS, yyyy, h:MM TT')
  .business
    img.image(src=prize.page.image.replace(/type=large/i, 'type=square'),alt=prize.page.name)
    .business-content
      a.page-name(target="_blank",href="/p/"+prize.page_id)= prize.page_name
      .address
        .street= prize.page.location.street
        .city= prize.page.location.city+', '+prize.page.location.state+' '
          a(style="text-decoration:none;",href=prize.page.getGoogleMapLink(),target="_blank") Map
        
  .prize-details
    .prize-name= prize.name
    -if( prize.description )
      .description= prize.description
    
    
  .redemption
    -if( prize.state=='expired')
      | This prize has expired
    -else if( prize.is_email )
      | This prize #{prize.redeemed?'was':'will be'} sent by email
      -if( prize.redeemed )
        a.resend-email(href="/my/prizes/"+prize._id+"/resend") Resend Email
    -else if( prize.is_barcode )
      | This prize #{prize.redeemed?'was':'will be'} redeemed by a barcode on the phone.
    -else
      | #{prize.redeemed?'This prize was redeemed in person':'You must redeem this prize in person'}