#beta.beta-loading
  .loading-box
    span Loading Bozuko Beta...


.hidden(style="display:none")
  #preview-tmpl
    .heading.block
      .img
        img(src="{page.image}")
      .top
        h4!= "{page.name}"
        h5!= "{page.category}"
      .bottom
        div!= "{page.location.street}&nbsp;"
        div!= "{page.location.city}, {page.location.state}&nbsp;"
        
    tpl(if="page.announcement != ''")
      .announcement.block!= "{page.announcement}"
    
    .facebook.block
      .checkin Facebook Check In
      .like Like us on Facebook
      
    .sharing.block
      .feedback Feedback
      .share
        a(target="_blank", href="/p/{page._id}") Share

script
  if( !window.Bozuko ) Bozuko = {};
  Bozuko.routePath = '/beta';
  Bozuko.beta = {
    user_id: '#{user.id}',
    page_id:'#{page.id}',
    user_pages: !{JSON.stringify(user_pages)}
  };
  