!!! 5
html(
  xmlns="http://www.w3.org/1999/xhtml",
  xmlns:fb="https://www.facebook.com/2008/fbml",
  class=locals.html_classes?html_classes.join(' '):'',
  lang="en"
)
  head
  
    title= title
    
    - if( locals.meta )
      - each content, name in meta
        meta(name=name, content=content)
    
    -if( locals.styles && locals.styles.length)
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style)
    
    - if (locals.head_scripts && locals.head_scripts.length)
      - each script in head_scripts
        script(type="text/javascript",src=script)
    
  body
    .page
    
      .hd
        .page-width
          h1.logo
            a(href='/beta', title=locals.home_title||"Bozuko - Go to Home Page") bozuko
          
          h3.tagline beta
          
          .right-side
            - if(!locals.user)
              h2 Beta Program
            
            - else
              .user-profile Logged in as #{user.name}, 
                a.logout(onclick="return beta_logout(this);",href="/beta/logout") Logout
                
              -if( locals.page )
                .page-info
                  img(src=page.image.replace(/type=large/, 'type=square'))
                  h3= page.name                  
                
          
      .bd
        .top-line
        .page-width
          .wrap
            .content!= body
        .bottom-line
        
      .ft
        .page-width
          .line
            .unit.size1of4
              ul
                li
                  a(href="https://bozuko.com/") Home 
                li
                  a(href="https://bozuko.com/how-to-play") How to Play 
                li
                  a(href="https://bozuko.com/bozuko-for-business") Bozuko for Business 
                li
                  a(href="https://bozuko.com/contact") Contact 
                li
                  a(href="http://getsatisfaction.com/bozuko", onclick="feedback_widget.show(); return false;") Feedback &amp; Support
            
            .unit.size1of4
              ul
                li
                  a(href="http://blog.bozuko.com") Blog
                li
                  a(href="https://bozuko.com/about") About
                li
                  a(href="https://bozuko.com/faq") FAQ
                li
                  a(href="/beta/terms-of-use") Beta Agreement
                li
                  a(href="https://bozuko.com/terms-of-use") Site Terms of Use
                li
                  a(href="https://bozuko.com/privacy-policy") Privacy Policy
            
            .unit.size1of4
              ul.social
                li
                  a.facebook(href="http://www.facebook.com/pages/Bozuko/223851717629478") Facebook
                  
                li
                  a.twitter(href="http://twitter.com/BozukoBiz") Twitter
            
            .unit.size1of4.lastUnit.downloadUnit
              .content
                h3 Download
                ul.download
                  li
                    a.download.app-store(href=Bozuko.cfg('client.mobile.iphone.link','#',target="_blank"), title="Download for iPhone")
                      img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
                  
                  li  
                    a.download.android-market(href=Bozuko.cfg('client.mobile.android.link','#',target="_blank"), title="Download for Android")
                      img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
      
      .copyright
        .page-width
          &copy; 2011 Bozuko, Inc.
          - if( locals.html_classes && ~locals.html_classes.indexOf('beta-app') )
            ul
              li
                a.agreement(href="/beta/terms-of-use") Beta Agreement
              li
                a.agreement(href="https://bozuko.com/faq",target="_blank") FAQ
              li
                a(href="http://getsatisfaction.com/bozuko", onclick="feedback_widget.show(); return false;") Feedback &amp; Support
              li
                a(href="https://bozuko.com/") Bozuko.com
        
    - if (locals.tmpls)
      .templates
        - each tmpl, key in tmpls
          script(type="text/extjs-tmpl", id=key)= tmpl
        
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)
        
    #fb-root
    script(type="text/javascript",src="https://connect.facebook.net/en_US/all.js")
    script
      FB.init({
        appId  : '#{Bozuko.cfg("facebook.app.id")}',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true // parse XFBML
      });
      function beta_logout(link){
        // attach facebook logout to logout button
        if( FB.getSession() ) FB.logout(function(){
          window.location.href = link.href;
        });
        else window.location.href = link.href;
        return false;
      }
      // wait till loade      
      window.onload=function(){
        if(document.getElementById('welcome-logged-in-as') ){
          FB.getLoginStatus(function(response) {
            
            if(response.session) {
              FB.api('/me', function(data){
                document.getElementById('welcome-logged-in-as').innerHTML =[
                  '<div style="padding: 10px 0; color: #666;">',
                  '<img src="https://graph.facebook.com/'+data.id+'/picture" height="25" style="vertical-align:middle; margin: 0 10px 0 0;" />',
                  'You are currently logged into Facebook as ',
                  '<span style="color: #000;">',data.name,'</span>',
                  '. <a onclick="javascript:beta_logout(this)" href="/beta/logout">Not You?</a>',
                  '</div>'
                ].join('');
              });
            }
          });
        }
      }
        
    script(type="text/javascript",charset="utf-8",src="https://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js")
    script(type="text/javascript",charset="utf-8")
      var feedback_widget_options = {};
    
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "bozuko";
      feedback_widget_options.placement = "hidden";
      feedback_widget_options.color = "#308e50";
      feedback_widget_options.style = "question";
      
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    
    - if( !Bozuko.config.test_mode )
      script(type="text/javascript")
  
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22885354-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();