!!! 5
html(lang="en")
  head
    title= title
    - if( !Bozuko.config.test_mode )
      script(type="text/javascript")
  
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22885354-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    script(type="text/javascript")
      window.onload=function(){
        setTimeout(function(){
          window.location = !{JSON.stringify(redirect)};
        }, 1000);
      }
    style(type="text/css")
      body.js p{ display: none; }
  body
    script
      document.body.className='js';
    p(style="text-align:center; font-family: helvetica neue, Arial, sans;") Redirecting you to  
      a(href=redirect)!= redirect
      | ...