!!! 5
html.like_button(xmlns:fb="http://www.facebook.com/2008/fbml",xmlns="http://www.w3.org/1999/xhtml",class=locals.classes?classes.join(' '):'')
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    style(type="text/css")
      html,body{ background: transparent; padding: 0; margin: 0; overflow: hidden; width: 50px; height: 20px !important;}
      body{ overflow: hidden; background: transparent url("/images/assets/facebook/like-loader.gif?v=2") 0 0 no-repeat; }
      iframe{ background: transparent !important; }
  body
    #fb-root
      
    -if( locals.place )
      .like-button(style="z-index:2; position:relative;")
        fb:like(href=place.data.link,send="false",width="50",show_faces="false",font="tahoma",layout="button_count")
      
      script(type="text/javascript")
        var APP_ID = #{Bozuko.config.facebook.app.id},
            token = '#{locals.user ? user.token : ""}';
        
        window.fbAsyncInit = function () {
            FB.init({
                appId: APP_ID,
                status: true,
                cookie: true,
                xfbml: true
            });
            
            function updateLikes(callback){
                var req = new XMLHttpRequest();
                req.onreadystatechange = function(){
                    if(req.readyState == 4){
                        callback();
                    }
                }
                req.open('GET', '/user?token'+token);
                req.send();
            }
        
            function onEdgeCreate(response) {
                updateLikes(function () {
                    window.location = navigator.userAgent.match(/iPhone/i) ? 'bozuko://facebook/like' : 'bozuko://facebook/liked';
                });
            }
            function onEdgeRemove(response) {
                updateLikes(function () {
                    window.location = navigator.userAgent.match(/iPhone/i) ? 'bozuko://facebook/unlike' : 'bozuko://facebook/unliked';
                });
            }
            FB.Event.subscribe('edge.create', onEdgeCreate);
            FB.Event.subscribe('edge.remove', onEdgeRemove);
            
        };
        
        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e)
        }());
        document.ontouchmove = function (e) {
            e.preventDefault();
        };