!!! 5
html(xmlns:fb="http://www.facebook.com/2008/fbml",xmlns="http://www.w3.org/1999/xhtml",class=locals.classes?classes.join(' '):'')
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    -if( locals.place )
      meta(property="og:title",content=place.name)
      meta(property="og:url",content=place.data.link)
      meta(property="og:image",content=place.image)
      meta(property="og:type",content="website")
      meta(property="og:site_name",content=place.name)
      meta(property="og:app_id",content=Bozuko.config.facebook.app.id)
    style(type="text/css")
      html,body{ background: transparent; padding: 0; margin: 0; overflow: hidden; width: 50px; height: 20px !important;}
      body{ overflow: hidden;}
      body.no-place{ background: #fff; }
      #like-button{ overflow: hidden; width: 50px; height: 20px; position: absolute; top: -10000px; left: -10000px; z-index: 2; }
      .like_button_loading{ background: transparent url("/images/assets/facebook/like-loader.gif?v=2") 0 0 no-repeat; position: relative; z-index: 1;}
      iframe{ background: transparent !important; }
      .fb_edge_widget_with_comment .fb_edge_comment_widget iframe.fb_ltr { display: none !important; }
      
      #mask{ display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
      #touch-killer{ display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
  body
    #fb-root
      
    -if( locals.place )
      #like-button
        fb:like(href=place.data.link,send="false",width="50",show_faces="false",font="tahoma",layout="button_count")
      #mask
      #touch-killer
      script(type="text/javascript")
        var APP_ID = #{Bozuko.config.facebook.app.id},
            mobile_version = '#{req.session.mobile_version}',
            fb_token = '#{locals.user ? locals.user.service('facebook').auth : ""}',
            fb_id = '#{place.data.id}',
            liked = #{locals.user.likes(place.data.id)?'true':'false'};
            token = '#{locals.user ? user.token : ""}';
            
        document.getElementsByTagName('html')[0].className += ' like_button_loading';
        
        window.fbAsyncInit = function () {
            FB.init({
                appId: APP_ID,
                status: true,
                cookie: true,
                xfbml: true
            });
            
            function updateLikes(callback){
                var req = new XMLHttpRequest();
                req.onreadystatechange = function(){
                    if(req.readyState == 4){
                        callback();
                    }
                }
                req.open('GET', '/user?token='+token+'&nocache='+Date.now());
                setTimeout(function(){
                  req.send();
                }, 200);
            }
        
            function onEdgeCreate(response) {
                updateLikes(function () {
                    enableMask();
                    window.location = 'bozuko://facebook/liked';
                });
            }
            function onEdgeRemove(response) {
                updateLikes(function () {
                    window.location = 'bozuko://facebook/unliked';
                });
            }
            FB.Event.subscribe('edge.create', onEdgeCreate);
            FB.Event.subscribe('edge.remove', onEdgeRemove);
            
            FB.api('/me', {fields:'likes'}, function(data){
              var found = false;
              if( data && data.error && data.error.type.match(/oauthexception/i) ){
                // this is a bad case... we should not get here
                // in the next release, we will need to fire a url event
                // bozuko://facebook/no_session
                // until then, we will try to do our best with what we got.
                document.getElementById('like-button').style.display='none';
                var img = document.createElement('img');
                img.style.position = 'relative';
                img.style.zIndex = '1';
                if( liked ){
                  img.src="/images/assets/facebook/like-btn-liked.png";
                  document.body.appendChild(img);
                }
                else{
                  img.src="/images/assets/facebook/like-btn.png";
                  img.onclick = function(){
                    alert("Sorry - your Facebook session for Bozuko is no longer valid. You must go to the Bozuko page, and Log out and back in. We apologize for the inconvenience and are working on a better solution.");
                  }
                  document.body.appendChild(img);
                }
                
              }
              if(!data || !data.likes || !data.likes.data.length ) return;
              var likes = data.likes.data;
              for(var i=0; i<likes.length && !found; i++){
                var like = likes[i];
                if( fb_id == like.id ){
                  found = true;
                  enableMask();
                }
              }
            });
        };
        
        window.onload = function(){
          var likeBtn = document.getElementById('like-button');
          function showLikeButton(){
              likeBtn.style.top='0px';
              likeBtn.style.left='0px';
              try{
                window.location = 'bozuko://facebook/like_loaded';
              }catch(e){
                // supposed to get an error
              }
          }
          var interval = setInterval(function(){
              var iframes;
              if( (iframes = likeBtn.getElementsByTagName('iframe')).length ){
                clearInterval(interval);
                iframes[0].onload = function(){
                  showLikeButton();
                }
              }
          }, 200);
        };
        
        // hide the button
        function enableMask(){
            var m = document.getElementById('mask');
            m.style.display='block';
            m.onclick = function(e){
              e.stopPropagation();
            }
        }
        
        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e)
        }());
        document.ontouchmove = function (e) {
            e.preventDefault();
        };
        var touchKill = document.getElementById('touch-killer');
        touchKill.onclick = function(e){
          e.stopPropagation();
        }
    -else
      script(type="text/javascript")
        window.location = 'bozuko://facebook/like_loaded'
        window.onload = function(){
          document.body.className = 'no-place';
        }
        document.ontouchmove = function (e) {
            e.preventDefault();
        };