!!! 5
html
  
  head
    title= title
    link(rel='stylesheet',type='text/css',href='/js/ext-4.0/lib/resources/css/ext-all-gray.css')
    // link(rel='stylesheet',type='text/css',href='/js/ext-4.0/lib/resources/themes/templates/resources/css/bozuko-theme.css')
    link(rel='stylesheet',type='text/css',href='/css/desktop/admin/app.css?'+Date.now())
    link#biz-style(rel='stylesheet',type='text/css',href='/css/desktop/business/style.css?'+Date.now())
    script(type='text/javascript',src='/js/ext-4.0/lib/ext-all.js')
    script(type='text/javascript',src='/js/desktop/admin/admin.js?'+Date.now())
    script(type='text/javascript',src='https://maps.google.com/maps/api/js?sensor=true')
    
  body
  
    #header
      .title
        span Administrator
        
      .logged-in Logged in as #{req.session.remoteUser.email}
    

    .hidden(style="display:none")
      #preview-tmpl
        .heading.block
          .img
            img(src="{page.image}")
          .top
            h4!= "{page.name}"
            h5!= "{page.category}"
          .bottom
            div!= "{page.location.street}&nbsp;"
            div!= "{page.location.city}, {page.location.state}&nbsp;"
            
        tpl(if="page.announcement != ''")
          .announcement.block!= "{page.announcement}"
        
        .facebook.block
          .checkin Facebook Check In
          .like Like us on Facebook
          
        .sharing.block
          .feedback Feedback
          .share
            a(target="_blank", href="/p/{page._id}") Share