!!! 5
html(xmlns:og="http://ogp.me/ns#",xmlns:fb="http://www.facebook.com/2008/fbml",class=locals.html_classes?html_classes.join(' '):'',lang="en")
  head
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1")
    
    title= title
    - if( locals.meta)
      - each content, name in meta
        meta(name=name, content=content)
    
    -if( locals.styles && locals.styles.length)
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style)
    
    - if (locals.head_scripts && locals.head_scripts.length)
      - each script in head_scripts
        script(type="text/javascript",src=script)
    
    script(type="text/javascript")
      window.BozukoData = {user:{}};
      BozukoData.fbAppId = '#{Bozuko.cfg("facebook.app.id")}';
      
    - if( user )
      script(type="text/javascript")
        BozukoData.user.id = '#{user._id}';
        BozukoData.user.fbId = '#{user.service("facebook").sid}';
    
  body
    .page
      .hd
        .page-width
          h1.logo
            a(href=locals.home_link||'/', title=locals.home_title||"Bozuko - Go to Home Page") bozuko
      
      .bd_codes
        .page-width
          .wrap
            .content!= body
        
      .copyright
        .page-width
          &copy; 2011 Bozuko, Inc.
        
    - if (locals.tmpls)
      .templates
        - each tmpl, key in tmpls
          script(type="text/extjs-tmpl", id=key)= tmpl
        
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)