!!! 5
html(xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    title!= title
    
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1")
    
    - if( locals.meta)
      - each content, name in meta
        meta(name=name, content=content)
    
    //script(type="text/javascript",src="http://s7.addthis.com/js/250/addthis_widget.js")
    - if( locals.stylesheets )
      - each sheet in stylesheets
        link(rel="stylesheet",type="text/css",href=sheet)
        
    - if( locals.scripts )
      - each script in scripts
        script(type="text/javascript",src=script)
    
  body
    != body
    
    - if( !Bozuko.config.test_mode )
      script(type="text/javascript")
  
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22885354-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();