!!! 5
html
  head
  
    title= title
    link(rel='stylesheet', href='/css/desktop/style.css')
    link(rel='stylesheet', href='/css/desktop/layout.css')
    -if( locals.styles )
      - each style in styles
        link(rel='stylesheet', type='text/css', href=style);
    script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js")
    script(type="text/javascript",src="/site/config")
    
    //- Assign the uid from the last active fb session here.
    script
      var _uid = #{user ? user.service('facebook').id : -1};
    
    
    
  body
    .page
    
      .hd
        .page-width
          h1.logo
            a(href="/", title="Bozuko - Go to Home Page") bozuko
          
          - if( user )
            .profile
              img(src="https://graph.facebook.com/"+user.service('facebook').sid+"/picture?type=square",alt=user.name)
              | Logged in as
              a(href=user.can_manage_pages?"/business/account":"/user/account")= user.name
          
          - if( locals.nav )
            ul.nav
              - each item in locals.nav
                - if( item instanceof Function )
                  - item = item.call(this,locals);
                li
                  a(href=item.link)!= item.text
          
      .bd
        .page-width
          .wrap
            .content!= body
        
      .ft
        .page-width
        
      - if (locals.tmpls)
        .templates
          - each tmpl, key in tmpls
            script(type="text/extjs-tmpl", id=key)= tmpl
        
    #fb-root
    script(src="http://connect.facebook.net/en_US/all.js")
    script(type="text/javascript",src="/js/desktop/core.js")
    
    - if (locals.scripts)
      - each script in scripts
        script(type="text/javascript",src=script)
        
    script(src="http://j.maxmind.com/app/geoip.js")